<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideGames</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section>
            <div>
                <div class="content-container">
                    <h1 class="bg-warning">[[#{frag.noti}]]</h1>
                </div>
                <div class="notibox">
                    <div class="content">
                    </div>
                </div>
            </div>
            <div class="notibox">
                <div class="content">

                </div>
            </div>
            <div class="notibox">
                <div class="content">

                </div>
            </div>
            <div class="notibox">
                <div class="content">

                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>