<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideGames</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section id="play-section" class="main-section">
            
            <div id='current-game'>
                <div class="header-title">
                    <h1>[[${game.name}]]</h1>
                    <h2>[[${game.emulator}]] | [[${game.year}]]</h2>
                </div>
                <div id="game-details">
                    <div id='game'></div>
                    <div id='information'>
                        <img th:src="'/images/games/' + ${game.id}" />
                        <p>[[${game.description}]]</p>
                        <button id="like-button" class="btn btn-outline-primary"><span class="fas fa-heart"></span><span>Like</span></button>
                    </div>
                </div>
            
            </div>
        </section>
        <script>
            EJS_player = "#game";
            EJS_core = "[[${game.emulator}]]";
            EJS_gameName = "[[${game.name}]]";
            EJS_biosUrl = "[[${game.bios}]]";
            if (EJS_biosUrl) EJS_biosUrl = "/bios/" + EJS_biosUrl;
            EJS_color = "#0064ff";
            EJS_startOnLoaded = true;
            EJS_pathtodata = "https://cdn.emulatorjs.org/stable/data/";
            EJS_gameUrl = "/roms/[[${game.emulator}]]/[[${game.id}]].[[${game.extension}]]";
        </script>
        <script src="https://cdn.emulatorjs.org/stable/data/loader.js"></script>
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html> 