/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 7, 2024, 6:37:31 PM
    Author     : hhern
*/

/* Comentario */


.navbar-brand,
.nav-menu-link,
.nav-link {
    font-size: 18px;
}

.lead {
    font-size: 15px;
}

body {
    background: url('images/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}

