<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideGames</title>
        </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <!-- <section th:replace="/juego/fragmentos :: listadoJuegos"/> -->
       
                        <div th:each = "game:${juegos}" class="card mb-3" style="max-width: 540px;">
                        
                            <div class="row g-0">
                          <div class="col-md-4">
                              
                            <img th:src="${game.download}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">[[${game.name}]]</h5>
                              <p class="card-text">[[${game.console}]]</p>
                              <p class="card-text"><small class="text-muted">3 días</small></p>
                              <a href="#" class="btn btn-primary">Jugar</a>
                            </div>
                          </div>
                        </div>
                      </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>      
      
    </body>
</html>

